.hazte-de-la-familia {
    font-family: "VIntage";
    font-size: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #08c0bc;
}

.registrndote-en-Hoc {
    margin-left: 50px;
    font-family: "HelveticaNeue";
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.28px;
    color: black;
}

.queremos-celebrar-co {
    margin-left: 50px;
    font-family: "HelveticaNeue";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.23px;
    color: #9b9b9b;
}
.bigSquareAfiliate{
    width: 692px;
    height: 442px;
    border-radius: 89px;
    border: 0px;
    background-color: white;
    background-image: url("../../images/afiliates/imagenppal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.smallSquareAfiliate{
    width: 240px;
    height: 172.7px;
    border-radius: 46px;
    position: relative;
    margin-top: -80px;
    margin-left: 500px;
    border: 0px;
    background-color: white;
    background-image: url("../../images/afiliates/imagenppalsmall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-afiliados{
    border: 0px;
    padding: 10px 88px 10px 88px;
    background-color: #08c0bc !important;
}

.purple-line{
    width: 3px;
    height: 41px;
    margin: 71.7px 134px 14px 13px;
    background-color: #492f82;
}

.regstrate-en-Hocico {
    font-family: "VIntage";
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.68px;
    text-align: center;
    color: #8064bc;
}

.img-registro-afiliados{
    width: 100%;
    height: 306px;
    border-radius: 64px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register1{
    background-image: url("../../images/afiliates/register1.png");
}

.register2{
    background-image: url("../../images/afiliates/register2.png");
}

.register3{
    background-image: url("../../images/afiliates/register3.png");
}

.recomendate1{
    background-image: url("../../images/afiliates/recomendate1.png");
}

.recomendate2{
    background-image: url("../../images/afiliates/recomendate2.svg");
}

.recomendate3{
    background-image: url("../../images/afiliates/recomendate3.png");
}

.title-registro-afiliados{
    font-family: "HelveticaNeue";
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.28px;
    text-align: center;
    color: black;
}

.Solo-por-registrarte {
    font-family: "HelveticaNeue";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.23px;
    color: #9b9b9b;
}