/*topbar*/
.top-header {
    background: #444;
    color: $white;
    font-size: 13px;
    height: 36px;
    .top-contact {
        margin: 5px 12px 0 0;
        i {
            margin-right: 6px;
        }
    }
    a {
        color: $white;
    }
}
ul.top_social_icons {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        a {
            i {
                width: 36px;
                height: 36px;
                text-align: center;
                padding: 12px 0 10px;
                line-height: 10px;
                @include transition( all, 0.3s);
            }
            &:hover {
                i {
                    background: $brand-primary;
                }
            }
        }
    }
}
/*slideshow*/
.slide-border {
    &:after {
        content: '';
        display: block;
        width: 80px;
        height: 3px;
        background: $brand-primary;
    }
}
.section-title {
    .section-title-text {
        font-size: 42px;
        line-height: 42px;
        color: $headings-color;
        font-family: $primary-font-family;
        &:after {
            content: '';
            display: block;
            width: 70px;
            height: 2px;
            background: $divider-color;
            position: relative;
            margin: 20px 0;
        }
    }
    .subtitle {
        color: $subtitle-color;
        font-size: 17px;
        font-style: italic;
        font-family: $secondary-font-family;
        margin-bottom: 50px;
    }
    .text-center {
        .section-title-text {
            &:after {
                margin: 20px auto;
            }
        }
    }
    .text-right {
        .section-title-text {
            &:after {
                margin: 20px 0 20px auto;
            }
        }
    }
}
.btn-slideshow {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    color: $white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 22px;
    margin-top: 10px;
    &:hover {
        color: $white;
    }
}

.promo-block {
    z-index: 99999;
    position: relative;
    margin-top: -100px;
    .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid>li {
        margin-bottom: 35px !important;
    }
    h3 {
        color: $white;
        margin-top: 35px;
        margin-left: 15px;
    }
}

.service-grid-box {
    .service-img-box {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 18px;
        width: m;
        .overley {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            @include transform( scale(0) );
            @include transition( all, 0.3s);
            a {
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -28px;
                margin-left: -28px;
                i {
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                    color: #000;
                    background: $brand-primary;
                    line-height: 60px;
                    @include transition( all, 0.3s);
                }
                &:hover {
                    i {
                        color: $white;
                        background: $black;
                    }
                }
            }
        }
        &:hover {
            .overley {
                opacity: 1;
                @include transform( scale(1) );
            }
        }
    }
    .service-contect-box {
        h3 {
            font-size: 18px;
            line-height: 18px;
            a {
                color: $headings-color;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
        p {
            margin-bottom: 18px;
        }
    }
}

.c2a-small {
    font-size: 15px;
    line-height: 22px;
}
.c2a-heading {
    h3 {
        font-size: 42px;
        line-height: 46px;
        font-weight: 500;
    }
}
/*featurebox start - imperial*/
.feature-box {
    .text-left {
        .featurebox-icon {
            float: left;
            margin-right: 15px;
            margin-bottom: 45px;
        }
    }
    .featurebox-content {
        h3 {
            font-family: $secondary-font-family;
        }
    }
    .text-right {
        .featurebox-icon {
            float: right;
            margin-left: 15px;
            margin-bottom: 35px;
        }
    }
    .featurebox-icon {
        margin-bottom: 25px;
        i.fa {
            color: #9e9e9e;
            font-size: 44px;
            line-height: 44px;
            @include transition( all, 0.6s);
        }
        i.flaticon {
            &:before {
                color: #9e9e9e;
                font-size: 44px;
                line-height: 44px;
                @include transition( all, 0.6s);
            }
        }
    }
    &:hover {
        .featurebox-icon {
            i.fa {
                color: $brand-primary;
                -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
            }
            i.flaticon {
                &:before {
                    color: $brand-primary;
                    -webkit-transform: rotateY(360deg);
                    transform: rotateY(360deg);
                }
            }
        }
    }
    .featurebox-title-text {
        color: $headings-color;
        font-family:$secondary-font-family;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px;
        text-transform: uppercase;
        @include transition(all, 0.3s);
        &:hover {
            color: $brand-primary;
        }
    }
}
/*featurebox end - imperial*/
.feature-number {
    .number {
        color: $brand-primary;
        font-size: 30px;
        line-height: 45px;
        padding:0 14px;
        margin-right: 10px;
        border: 1px solid $brand-primary;
        width: 48px;
        height: 48px;
        text-align: center;
    }
    .number-content {
        font-size: 15px;
        line-height: 22px;
        .featurenumber-title-text {
            color: $white;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p {
            margin: 0;
            color: #b9b9b9;
        }
    }
    &.right {
        .number {
            margin-left: 10px;
        }
        .number-content {
            text-align: right;
            margin-right: 10px;
        }
    }
}

.border-text {
    h3 {
        font-size: 24px;
        line-height: 40px;
        text-transform: uppercase;
        &:after {
            content: '';
            display: block;
            width: 80px;
            height: 3px;
            background: $brand-primary;
            margin: 20px 0;
        }
    }
}
/*animated counter start - imperial*/
.animated-counter {
    .icon {
        i.fa,
        i.flaticon:before {
            clear: both;
            font-size: 60px;
            line-height: 40px;
            margin-bottom: 20px;
            display: block;
        }
    }
    .timer {
        color: $brand-primary;
        font-size: 60px;
        line-height: 60px;
        display: inline-block;
        width: 120px;
        font-family: $primary-font-family;
        &:before {
            content: '';
            display: block;
            width: 60px;
            height: 2px;
            background: $brand-primary;
            margin: 20px 0 ;
        }
    }
    h4 {
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        display: inline-block;
        width: 120px;
    }
}
/*animated counter end - imperial*/
.team-wrap {
    text-align: center;
    margin-top: 5px;
    border: 1px solid #ddd;
    background: $white;
    @include transition( all, 0.3s);
    .team-img {
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        @include transition( all, 0.3s);
        .overley {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include transform( scale(0) );
            @include transition( all, 0.3s);
            .team-social {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -84px;
                margin-top: -25px;
                a {
                    i {
                        color: $white;
                        border: 1px solid $brand-primary;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        margin-left: -1px;
                        @include transition(all, 0.3s);
                    }
                    &:hover i {
                        color: $white;
                        background: $brand-primary;
                        border: 1px solid $brand-primary;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
        &:hover {
            .overley {
                @include transform( scale(1) );
            }
        }
    }
    h4 {
        font-size: 18px;
        color: $headings-color;
        line-height: 15px;
        margin: 20px 0 10px;
        text-transform: uppercase;
    }
    p.designation {
        color: $brand-primary;
        margin: 0 0 9px
    }
    p {
        margin-bottom: 16px;
        padding: 0 10px;
    }
    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid $brand-primary;
        .team-img {
            border-bottom: 1px solid $brand-primary;
        }
    }
}

.clients {
    &.wpb_single_image {
        img {
            border: 1px solid #ddd;
            opacity: 0.6;
            @include transition (all, 0.3s);
            &:hover {
                opacity: 1;
            }
        }
    }
}
.client-carousel {
    .client-item {
        text-align: center;
        img {
            margin: auto;
        }
    }
}
/*testimonial stat - imperial*/
.testimonial-carousel {
    &.default {
        .feedback-item {
            .feedback-text {
                color: $text-color;
                background: #fafafa;
                padding: 46px;
                border-left: 2px solid $brand-primary;
                position: relative;
                font-size: 18px;
                line-height: 1.6em;
                font-family: $headings-font-family;
                font-style: italic;
                &:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    left: calc(80% - 10px);
                    bottom: -10px;
                    left: 90%;
                    border-width: 10px 10px 0 10px;
                    border-color: $brand-primary transparent transparent transparent;
                }
            }
            h4 {
                color: $headings-color;
                text-align: right;
                text-transform: capitalize;
                margin: 15px 0 0;
            }
            p.designation {
                text-align: right;
                font-weight: 400;
                font-size: 13px;
            }
        }
    }
    &.alternate {
        text-align: center;
        padding: 0 120px;
        .feedback-item {
            .feedback-img {
                position: relative;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius:100%;
                    margin: 20px auto 20px;
                }
            }
            .feedback-text {
                color: $white;
                font-size: 18px;
                line-height: 1.6em;
                font-family: $headings-font-family;
                font-style: italic;
            }
            h4 {
                color: $headings-color;
                text-transform: capitalize;
                margin: 15px 0 0;
            }
            p.designation {
                font-weight: 400;
                font-size: 13px;
            }
        }
    }
}

.post-grid {
    border: 1px solid #ddd;
    @include transition( all, 0.3s);
    overflow: hidden;
    .post-grid-thumb {
        overflow: hidden;
        img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray;
            -webkit-filter: grayscale(100%);
            transition: all 0.3s;
        }
    }
    .post-grid-meta {
        padding: 10px 20px;
        div {
            display: inline-block;
            margin-right: 20px;
            font-size: 12px;
            i {
                color: $brand-primary;
            }
        }
    }
    .post-grid-content {
        padding: 0 20px 20px;
        h4 {
            font-size: 20px;
            line-height: 26px;
            a {
                color: $headings-color;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
        border-color: $brand-primary;
        .post-grid-thumb {
            img {
                filter: none;
                -webkit-filter: grayscale(0%);
                transform: scale(1.1);
            }
        }
    }
}

.project-nav {
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        li {
            color: $headings-color;
            margin: 15px 5px 38px 0;
            display: inline-block;
            padding: 8px 20px;
            cursor: pointer;
            @include transition (all, 0.3s);
            &:hover,
            &.active {
                color: $white;
                background: $brand-primary;
            }
        }
    }
}

.project-addon {
    width: 100%;
    overflow: hidden;
    .project-item {
        position: relative;
        overflow: hidden;
        &.spaced {
            padding: 15px;
        }
        &.col-2,
        &.col-3,
        &.col-4 {
            float: left;
            img {
                width: 100%;
            }
        }
        &.col-2 {
            width: 50%;
        }
        &.col-3 {
            width: 33.33%;
        }
        &.col-4 {
            width: 25%;
        }
        .project-overley {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            @include transform( scale(0));
            @include transition(all, .6s);
            .content {
                position: absolute;
                bottom: 10%;
                left: 5%;
                h3 {
                    a {
                        color: $white;
                        text-transform: uppercase;
                        @include transition(all, 0.3s);
                        &:hover {
                            color: $brand-primary;
                        }
                    }
                }
                .project-tags {
                    color: $brand-primary;
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }
        &:hover {
            .project-overley {
                @include transform( scale(1) );
            }
        }
    }
}
//CPT Archive Styles (Project & Service)
.project,
.service {
    margin-bottom: 30px;
    .entry-thumb {
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
    }
    .entry-header {
        h1.entry-title {
            color: $blog-title-color;
        }
        h2.entry-title {
            color: $blog-title-color;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            margin-top: 0;
            border-bottom: 1px solid #ddd;
            a {
                color: $blog-title-link-color;
                outline: none;
                &:hover {
                    color: $blog-title-hover-color;
                }
            }
        }
        .entry-meta {
            margin-bottom: 10px;
        }
    }
    .entry-content {
        a {
            color: $black;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    .entry-header,
    .entry-footer {
        span {
            display: inline-block;
            margin-right: 15px;
            i {
                display: inline-block;
                margin-right: 5px;
                color: $brand-primary;
            }
            a {
                color: $text-color;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
    .entry-footer {
        margin-top: 20px;
    }
}

.page-head {
    padding: 120px 0;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
    .page-head-title {
        color: $brand-primary;
        font-size: 26px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .breadcrumbs {
        text-align: right;
        color: #ccc;
        .fa {
            font-size: 15px;
        }
        span {
            color: $white;
            text-transform: uppercase;
            a {
                color: $brand-primary;
            }
        }
    }
}

.pricing-table {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    border: 1px solid #ddd;
    background: $white;
    li {
        position: relative;
        padding: 16px 4px;
        list-style: none;
        border-bottom: 1px solid #ddd;
        @include transition(all, 0.3s);
        h2 {
            margin: 0;
            text-transform: uppercase;
            color: $white;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 1px;
            @include transition(all, 0.3s);
        }
        &.price {
            padding: 30px 0;
            border-bottom: 1px solid $brand-primary;
            color: $headings-color;
            font-size: 24px;
            font-weight: 700;
        }
        &:first-child {
            padding: 22px 0;
            background: #222;
            @include transition(all, 0.3s);
        }
    }
    &:hover {
        li {
            h2 {
                color: $headings-color;
            }
            &:first-child {
                color: $headings-color;
                background: $brand-primary;
            }
        }
    }
}

.dropcap {
    float: left;
    width: 55px;
    height: 55px;
    margin: 7px 10px 0 0;
    padding: 6px 10px 0 13px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    &.square {
        color: $white;
        background: $brand-primary;
    }

    &.rounded {
        color: $white;
        background: $brand-primary;
        border-radius: 4px;
    }

    &.circle {
        color: $white;
        background: $brand-primary;
        border-radius: 100%;
    }
}
/*work in progress - imperial*/
.wip-wrap {
    background: $white;
    border:1px solid #e5e5e5;
    padding-bottom: 30px;
    @include transition(all, 0.3s);
    overflow: hidden;
    .wip-thumb{
        border-bottom:1px solid #e5e5e5;
        overflow: hidden;
        img {
            transition: all 0.3s;
        }
    }
    .wip-content{
        padding: 20px;
        h4 {
            font-size: 20px;
            line-height: 22px;
        }
        p {
            margin-bottom: 0;
        }
        .wip-meta{
            margin: 18px 0 15px;
            p {
                span {
                    color: $brand-primary;
                    font-style: italic;
                    font-family: $headings-font-family;
                    font-weight: 700;
                }
            }
        }
    }
    .btn {
        i {
            margin-left: 5px;
            @include transition(all, 0.2s);
        }
        &:hover {
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
            i {
                margin-left: 10px;
            }
        }
    }
    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
        border-color: $brand-primary;
        .wip-thumb{
            border-color: $brand-primary;
            img {
                transform: scale(1.1);
            }
        }
    }
}
/*work in progress - imperial*/
/*WP Instagram Widget Styles*/
.sidebar,
.footer {
    .widget {
        .instagram-pics {
            &.instagram-size-thumbnail {
                border-bottom: 0;
                li {
                    float: left;
                    width: 60px;
                    margin: 5px;
                    a {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        p.clear {
            clear: both;
            a {
                color: $fw-link-color;
                &:hover {
                    color: $fw-link-hover-color;
                }
            }
        }
    }
}

/*Contact Form 7 styles*/
/*Contact Form 7 styles*/
.wpcf7 {
    label {
        font-weight: 400;
        span {
            color: $brand-primary;
            font-size: 20px;
        }
    }
    input[type="text"],
    input[type=date],
    input[type=tel],
    input[type="email"],
    .wpcf7-select {
        width: 100%;
        height: 40px;

    }
    textarea {
        width: 100%;
    }
    input[type="text"],
    input[type="email"],
    input[type=date],
    input[type=tel],
    .wpcf7-select,
    textarea {
        outline: none;
        box-shadow: none;
        padding: 0 15px;
        @include transition(all, 0.3s);
        &:focus {
            border: 1px solid $brand-primary;
        }
    }
    textarea{
        height: 100px;
        padding-top: 12px;
    }
    input[type="submit"] {
        color: $white;
        background: $brand-primary;
        @include transition(all, 0.3s);
        &:hover {
            background: $black;
        }
    }
}

.back-to-top {
    background: $brand-primary;
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    right: 15px;
    z-index: 99999;
    bottom: 15px;
    opacity: 0;
    @include transition(all, 1s);
    &.reveal {
        @include transition(all, 0.3s);
        opacity:0.8;
        cursor: pointer;
        &:hover, &:focus, &:active {
            opacity:1;
            background: $black;
        }
    }
    i {
        color: $white;
        line-height: 38px;
        margin-left: 10px;
    }
}

.blockquote_light {
    font-style: italic;
    line-height: 30px;
    padding: 30px 24px;
    border-left: 2px solid $brand-primary;
    background: $white;
}
.blockquote_dark {
    font-style: italic;
    line-height: 30px;
    padding: 30px 24px;
    border-left: 2px solid #333333;
    background: #f7f7f7;
}
.white-text {
    .section-title-text,
    .featurebox-title-text {
        color: $white;
    }
    .subtitle {
        color: #dedede;
    }
    .project-nav {
        ul {
            li {
                color: $white;
            }
        }
    }
    .testimonial-carousel {
        &.alternate {
            .feedback-item {
                .feedback-img {
                    position: relative;
                    img {
                        border: 6px solid #333;
                    }
                }
                .feedback-text {
                    color: $white;
                    font-size: 18px;
                    line-height: 1.6em;
                    font-family: $headings-font-family;
                    font-style: italic;
                }
                h4 {
                    color: $white;
                }
                p.designation {
                    color: #adadad;
                }
            }
        }
    }
}
.alert {
    border-radius: 0;
}
.skill {
    h4 {
        font-size: 14px;
        text-transform: uppercase;
        span {
            margin-left: 25px;
        }
    }
    .progress {
        height: 14px;
        border-radius: 0;
        box-shadow: none;
        .progress-bar {
            box-shadow: none;
        }
    }
}
