
.woocommerce {
	.widget-title {
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			padding: 10px 0;
			a {
				&:before {
					content: '';
				}
			}
		}
	}
	&.widget_shopping_cart {
		.widget_shopping_cart_content {
			p {
				margin-bottom: 0;
			}
		}
	}

	&.widget_product_search {
		.woocommerce-product-search {
			position: relative;
			.search-field {
				width: 100%;
				box-shadow: 0;
				font-size: 14px;
				padding: 12px 20px 12px 12px;
				border: 1px solid #ececec;
				transition: all 0.3s;
				&:focus {
					border-color: $brand-primary;
					outline: 0;
					box-shadow: 0;
				}
			}
			button {
				position: absolute;
				top: 0;
				right: 0;
				background: $brand-primary;
				border: 0;
				color: $white;
				padding: 13px;
			}
		}
	}
	.woocommerce-widget-layered-nav-list {
		.woocommerce-widget-layered-nav-list__item {
			padding: 10px 0;
		}
	}
	.woocommerce-widget-layered-nav-dropdown__submit {
		background: $brand-primary;
		border: 0;
		color: $white;
		padding: 13px 23px;
	}
	input.button,
	button.button {
		background: $brand-primary;
		border: 0;
		font-weight: 400;
		border-radius: 0;
		color: $white;
		padding: 13px 23px;
	}
	.widget_price_filter {
		.price_slider_wrapper {
			.ui-widget-content {
				background-color: $brand-primary;
			}
		}
		.ui-slider {
			.ui-slider-handle {
				background-color: $brand-primary;
			}
			.ui-slider-range {
				background: $brand-primary;
			}
		}
	}
	&.widget_shopping_cart,
	&.widget_products,
	&.widget_top_rated_products {
		ul {
			li {
				a {
					font-weight: 400;
					color: $brand-primary;
					font-size: 16px;
					&:before {
						content: '';
						display: none;
					}
				}
			}
		}
	}
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce button.button.alt {
	background: $brand-primary;
	border: 0;
	font-weight: 400;
	border-radius: 0;
	color: $white;
	padding: 13px 23px;
	transition: all 0.3s;
	&:hover {
		color: $white;
		background: #000;
	}
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
	padding: 14px 0;
}


.woocommerce {
	a {
		color: $brand-primary;
		&.added_to_cart {
			margin-bottom: 20px;
			background: $brand-primary;
			border: 0;
			font-weight: 400;
			border-radius: 0;
			color: $white;
			padding: 10px 23px;
			transition: all 0.3s;
			&:hover {
				color: $white;
				background: #000;
			}
		}
	}
	ul.products {
		li.product {
			text-align: center;
			box-shadow: 0 0px 10px rgba(70,120,120,0.15);
			transition: all 0.3s;
			&:hover {
				box-shadow: 0 0px 30px rgba(70,120,120,0.15);
			}
			a.button {
				margin-bottom: 20px;
				&:hover {
					background: #000;
				}
			}
			.woocommerce-loop-product__title {
				font-size: 18px;
			}
			.price {
				color: darken($brand-primary, 20%);
				font-size: 16px;
				del {
					font-size: 13px;
					margin-right: 5px;
				}
				ins {
					text-decoration: none;
				}
			}
		}
	}
	span.onsale {
		background-color: $brand-primary;
	}
	.quantity {
		.qty {
			line-height: 34px;
		}
	}
	div.product {
		p.price {
			color: $brand-primary;
			del {
				font-size: 14px;
			}
			ins {
				text-decoration: none;
				font-size: 26px;
				font-weight: 400;
			}
		}
		.woocommerce-tabs {
			ul.tabs {
				li {
					a {
						font-weight: 400;
						font-size: 16px;
						font-family: $headings-font-family;
					}
					&.active {
						a {
						}
					}
				}
			}
		}
	}
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
	width: 120px;
	height: 40px;
}

//checkout page
.woocommerce {
    .woocommerce-form-coupon-toggle {
        .woocommerce-info {
            border-top-color: $brand-primary;
        }
    }

    .checkout_coupon {
        .form-row {
            input.input-text {
                padding: 10px;
            }

            .button {
                // @extend %cart-single-button;
            }
        }
    }

    .woocommerce-checkout {
        .col-1,
        .col-2 {
            float: none;
            width: 100%;

            .woocommerce-billing-fields {
                h3 {
                    font-family: $headings-font-family;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                .woocommerce-billing-fields__field-wrapper {
                    label {
                        font-weight: 400;
                        font-family: $headings-font-family;
                    }

                    .input-text {
                        padding: 10px;
                    }

                    select {
                        padding: 10px;
                    }

                    .select2-selection {
                        padding: 7px;
                        height: 45px;
                        border-radius: 0;
                    }
                }
            }
        }

        .col-2 {
            .checkbox {
                input[type=checkbox] {
                    position: relative;
                    margin: 0;
                }
            }

            .woocommerce-shipping-fields__field-wrapper {
                label {
                    font-weight: 400;
                    font-family: $headings-font-family;
                }

                .input-text {
                    padding: 10px;
                }

                select {
                    padding: 10px;
                }

                .select2-selection {
                    padding: 7px;
                    height: 45px;
                    border-radius: 0;
                }
            }

            textarea.input-text {
                height: 7em;
                padding: 20px;
            }
        }

        #payment {
            background: #f9f9f9;

            ul {
                li {
                    label {
                        font-weight: 500;
                        font-family: $headings-font-family;
                        color: $headings-color;
                    }
                }
            }
        }
    }

    #order_review_heading {
        text-transform: capitalize;
        line-height: 30px;
        margin: 20px 0;
    }

    table.shop_table {
        tfoot {
            tr {
                th {
                    color: $white;
                }
            }
        }
    }
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
	content: '';
	display: none;
}

.woocommerce-info {
	border-top-color: $brand-primary;
}