.blog-first-post-img{
    width: 100%;
    height: 556px;
    background-color: #0c3356;
    border-radius: 48px;
}

.blog-first-post-title{
    font-family: HelveticaNeue;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: 0.5px;
    text-align: center;
    color: black;
}