.hb-user-int-orders-title{
    font-family: Vintage;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.68px;
    color: #00a4a0;
}

.hb-user-int-orders-table{

}
/*.hb-user-int-orders-table thead{*/
/*    border-top: 0px!important;*/
/*}*/
.hb-user-int-orders-table thead th{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #9b9b9b;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
}

.hb-user-int-orders-table tbody a{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #00a4a0;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
}

.hb-user-int-orders-table tbody td{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #2c2c2c;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
}

.hb-user-int-orders-table .btn-outline-primary{
    padding: 10px 30px 10px 31px;
    border: solid 1px #08c0bc;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #08c0bc;
    margin: 5px;
}
/*MY ORDER*/
.hb-mo-order-number{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #00a4a0;
}

.hb-mo-info-start{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #2c2c2c;
}

.hb-mo-order-state{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #08c0bc;
}

.hb-mo-hr{
    border: solid 1px #2c2c2c;
}

.hb-mo-title-col{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #9b9b9b;
}

.hb-mo-item-col a:link, .hb-mo-item-col a:visited{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #2c2c2c;
}

.hb-mo-item-col a:hover, .hb-mo-item-col a:active{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #2c2c2c;
}

.hb-mo-price-col{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color:#9b9b9b;
}

.hb-mo-price-col span{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #e6dcdc;
}

.hb-mo-total{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #2c2c2c;
}
.hb-mo-total span{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #2c2c2c;
}

.hb-mo-total-row{
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.23px;
    text-align: right;
    padding: 32px 44px 31px 38px;
    border-radius: 8px;
    background-color: #c7efed;
}
